@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*, ::before, ::after{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
    background-image: url("https://www.wallpapertip.com/wmimgs/90-909408_modern-wallpaper-desktop.png");
    background-repeat: no-repeat;
}

.tableau-style {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px solid mediumaquamarine; 
    border: 1px solid #ddd;
}

thead tr{
    background-color:midnightblue;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    background-color: azure;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

tbody tr:last-of-type{
    border-bottom: 2px solid midnightblue;
}

h1 {
    text-align: center;
        color: black;
    padding: 0% 10%;
}

label{
    display:block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label{
    margin: .4rem 0;
}

p{
    color:white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 180%;
}


p1{
    color : white;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
}
input{
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    text-align: center;
    border-radius: 1px 1px 1px 1px;
}
h1{
    text-align:center;
    color:#222F40;
    font-family:'Poppins', sans-serif;
    font-size:200%;
}
p2{
    color:black;
    font-family:'Poppins', sans-serif;
    font-size:120%;
}
.associer input{
    color:black;
    font-family:'Poppins', sans-serif;
    font-size:120%;
}

label{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size:120%;
}

p3{
    color: red;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
}

p4{
    text-align :center;
    color: #D9DBE0;
    font-family: 'Poppins', sans-serif;
    font-size:200%;
    margin : 0% 47%;
    cursor: pointer;
}

.forme{
    max-width: 400px;
}
  
.forme .recherche{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.recherche input{
    height: 30px;
    width: 100%;
    outline: none;
    padding: 0 60px 0 20px;
    font-size: 16px;
}
.recherche .autocomp{
    padding: 0;
    opacity: 0;
    max-height: 280px;
}

.recherche.active .autocomp{
    opacity: 1;
}

.autocomp li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}
  
.recherche.active .autocomp li{
    display: block;
}
.autocomp li:hover{
    background: #efefef;
}
