@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}


body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
    background-image: url("https://www.wallpapertip.com/wmimgs/90-909408_modern-wallpaper-desktop.png");
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
    color : #DADCE1;   
    border-width: 5%;
    border-style: solid;
    border-top: white;
    border-left: white;
    border-right: white;
    font-family: 'Poppins', sans-serif;
}

p{
    color : #DADCE1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

input{
    text-align:center;
    font-size:110%;
    font-family: 'Poppins', sans-serif;
}

div{
    text-align: center;
    font-size: 20px;  
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;  
}

div.group{
    font-size: 20px;
    padding : 5% 10%;
    color : #DADCE1;
}

input.form-control{
    border-width: 2px 2px 2px 2px;
    border-radius: 5px 5px 5px 5px;
    border-style:  outset;
    background-color: #DADCE1;
    border-radius : 10px 10px 10px 10px;
    cursor: pointer;
}

div.login{
    font-size: 20px;
    padding : 15% 10%;
    color :#B42129;
}
 
.rectangle{  
    position: absolute;
    top: 50%; left : 50%;
    transform :translate(-50%,-50%); 
    width: 600px;
    height: 700px ;
    background-color:#202B3B;
    align-content: center;
    border-width: 2px 2px 2px 2px;
    border-radius: 10px 10px 10px 10px;
    border-style: outset;
    border-color: black;
    padding : 2% 2%;
}
