@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*, ::before, ::after{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}


body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
    background-image: url("https://www.wallpapertip.com/wmimgs/90-909408_modern-wallpaper-desktop.png");
    background-repeat: no-repeat;
}


td, th {
    border: 1px solid black;
    padding: 10px;
}

td {
    text-align: center;
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color:whitesmoke;
}

th[scope="prems"] {
    background-color: #696969;
    color: #fff;
}

td[scope="date"] { 
    border: 1px solid rgb(112, 9, 9);
    background-color:#C6242D;
    color: #C6242D;
    margin-right: 10px;
}

td[scope="sansdate"] {
    border: 0px;
}

th[scope="row"] {
    background-color: silver;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    width: auto;
    margin: 5% auto;
}
