@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*, ::before, ::after{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}


body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
    background-image: url("https://www.wallpapertip.com/wmimgs/90-909408_modern-wallpaper-desktop.png");
    background-repeat: no-repeat;
}

input{
    text-align:center;
    font-size:110%;
    margin : 0% 0%;
    padding : 0.5% 2%;
    color : black;
    background-color: whitesmoke;
}






